ul.themes
  each category in categories
    li.themes__item
      if category === currentCategory
        a.themes__item-link.themes__item-link--active
          | #{category}
          sup &nbsp;22
      else
        a.themes__item-link(href=`${AppRoute.CATEGORY}/${category}`)
          | #{category}
          sup &nbsp;22
