section.main-page__hot.hot
  h2.hot__name(class={"hot__name--empty": hotIsEmpty})
    | Самое обсуждаемое&nbsp;
    span.hot__icon.hot__icon--fire
  if !hotIsEmpty
    ul.hot__list
      li.hot__list-item
        a.hot__list-link(href="/articles/1")
          | Билл Гейтс впервые за два года возглавил рейтинг самых богатых людей мира по версии Bloomberg
          sup.hot__link-sup &nbsp;12
      li.hot__list-item
        a.hot__list-link(href="/articles/1")
          | Сервис для аналитики Telegram-чатов Combot попал под блокировку из-за информации на служебной
          sup.hot__link-sup &nbsp;15
          |  странице
      li.hot__list-item.hot__list-item--margin
        a.hot__list-link(href="/articles/1")
          | Модель Кайли Дженнер продаст 51% своей компании Kylie Cosmetics владельцу Factor за $600 млн
          sup.hot__link-sup &nbsp;52
      li.hot__list-item.hot__list-item--end
        a.hot__list-link(href="/articles/1")
          | Tesla получила 146 тысяч предзаказов на электрический пикап Cybertruck за двое суток
          sup.hot__link-sup &nbsp;153
  else
    p.hot__empty Здесь пока ничего нет...
