section.main-page__notes.notes
  h1.notes__title Мои записи
  ul.notes__list
    each article in articles
      -
        const {announce, categories, createdDate, comments, id, picture, title} = article;

      li.notes__list-item
        time.notes__item-time(datetime=createdDate) #{createdDate}
        a.notes__item-text(href=`/articles/${id}`) #{title}
        button.notes__button.button.button--close-item(type="button")
          span.visually-hidden Закрыть строку списка
