head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width,initial-scale=1")
  meta(name="description" content=DESCRIPTION)
  meta(http-equiv="X-UA-Compatible" content="ie=edge")
  title #{TITLE}
  link(rel="icon", href="/img/favicon.ico", type="image/x-icon")
  link(rel="preload" href="/fonts/Inter-Regular.woff2" as="font" crossorigin="anonymous")
  link(rel="preload" href="/fonts/Inter-Medium.woff2" as="font" crossorigin="anonymous")
  link(rel="preload" href="/fonts/SFProDisplay-Regular.woff2" as="font" crossorigin="anonymous")
  link(rel="stylesheet" href="/css/style.min.css")
  link(rel="stylesheet" href="/css/update.css")
