mixin hot-item(article)
  -
    const articleId = article[ArticleKey.ID];
    const url = assembleRoute(AppRoute.ARTICLES_$ARTICLE_ID, {articleId});
    const announce = article[ArticleKey.ANNOUNCE];
    const count = article[ArticleKey.COMMENTS_COUNT];

  li.hot__list-item
    a.hot__list-link(href=url)
      span.hot__link-text #{truncateString(announce)}
      sup.hot__link-sup &nbsp;#{count}

section.main-page__hot.hot
  h2.hot__name(class={"hot__name--empty": isPopularEmpty})
    | Самое обсуждаемое&nbsp;
    span.hot__icon.hot__icon--fire
  if !isPopularEmpty
    ul.hot__list
      each article, index in popularArticles
        +hot-item(article)
  else
    p.hot__empty Здесь пока ничего нет...
  template#template-hot
    li.hot__list-item
      a.hot__list-link
        span.hot__link-text
        sup.hot__link-sup
