- const YEAR = new Date().getFullYear();

footer.footer
  a.footer__copyright(href="https://htmlacademy.ru/" aria-label="HTMLAcademy" target="_blank")
    img(src="/img/icons/HTMLAcademyLogo.svg" width="112" height="50" alt="HTMLAcademy")
  span.footer__dot
  p.footer__text #{TITLE}, #{YEAR}
