-
  const LANG = "ru";
  const DESCRIPTION = "Личный блог Типотека";
  const TITLE = "Типотека";

  const PRELOAD = [
    {
      href: "/fonts/Inter-Regular.woff2",
      as: "font",
    },
    {
      href: "/fonts/Inter-Medium.woff2",
      as: "font",
    },
    {
      href: "/fonts/SFProDisplay-Regular.woff2",
      as: "font",
    },
  ];

  const SCRIPTS = [
    "/js/vendor.js",
    "/js/main.js",
  ];

  const STYLES = [
    "/css/style.min.css",
    "/css/update.css",
  ];

  const UserType = {
    ADMIN: "admin",
    GUEST: "guest",
    USER: "user",
  };
