-
  const LANG = "ru";
  const DESCRIPTION = "Личный блог Типотека";
  const TITLE = "Типотека";

  const PRELOAD = [
    {
      href: "/fonts/Inter-Regular.woff2",
      as: "font",
    },
    {
      href: "/fonts/Inter-Medium.woff2",
      as: "font",
    },
    {
      href: "/fonts/SFProDisplay-Regular.woff2",
      as: "font",
    },
  ];

  const SCRIPTS = [
    "/js/vendor.js",
    "/js/main.js",
  ];

  const STYLES = [
    "/css/style.min.css",
    "/css/update.css",
  ];

  const AppRoute = {
    ARTICLE: "/articles",
    ARTICLES_ADD: "/articles/add",
    CATEGORY: "/articles/category",
    CATEGORIES: "/categories",
    COMMENTS: "/my/comments",
    LOGIN: "/login",
    LOGOUT: "/logout",
    MAIN: "/",
    MY: "/my",
    SEARCH: "/search",
    REGISTER: "/register",
  };

  const FormAction = {
    ADD_ARTICLE: "/articles/add",
    ADD_CATEGORY: "#",
    ADD_COMMENT: "#",
    EDIT_CATEGORY: "#",
    LOGIN: "#",
    REGISTER: "#",
    SEARCH: "/search",
  };

  const UserType = {
    ADMIN: "admin",
    USER: "user",
  };
