/* preview */

.preview {
  margin-bottom: 0;
}

.preview__item {
  min-height: auto;
}

.preview__toggle-wrapper {
  margin-top: 42px;
}

/* notes */

.notes__list-item:last-child {
  margin-bottom: 0;
}

/* publication */

.publication__list-item:last-child {
  margin-bottom: 0;
}
