extends /layouts/default.pug

block content
  main.articles-category
    h1 #{currentCategory.name}
    section.articles-category__theme-list
      h2.visually-hidden Список тем
      include /partials/category/themes.pug
    section.articles-category__list.preview
      h2.visually-hidden Список превью статей
      ul.preview__list
        include /mixins/preview-item.pug
        each article in articles.slice(0, 8)
          +preview-item(article)
