section.main-page__list.preview
  h2.visually-hidden Список превью статей
  ul.preview__list
    include /mixins/preview-item.pug
    each article in articles.slice(0, 8)
      +preview-item(article)
  .preview__toggle-wrapper
    include /mixins/pagination.pug
    +pagination.preview__pagination
